<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728337012367-mbt05rm4tv7hb154a26tr5g28tsmh297.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728337012367-mbt05rm4tv7hb154a26tr5g28tsmh297</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>728337012367-bl3gg2l0sgucoek5tfa4u4c8gvtcq4k8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8EWgF34g5SYBMGels_RBPSfSPpKGXFaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>728337012367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.chiche.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-d4190</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-d4190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728337012367:ios:46513de0b45bf84c4142fa</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-d4190.firebaseio.com</string>
</dict>
</plist>